<html>
    <head>
        <title>
            Torgle - The Tor Search Engine
        </title>
    </head>
    <body>
        &nbsp;<p />&nbsp;<p />&nbsp;<p />&nbsp;<p />&nbsp;<p />
        <center>
            <font color="green" size="10">Torgle</font>
            <form action="/torgle/search/" method="get">
                <input type="text" size=35 name="query" />
                <input type="submit" value="Go" /><p />IN DEVELOPMENT. DOES NOT WORK.
            </form>
        </center>
    </body>
</html>
