<html>
    <head>
        <title>
            Torgle - The Tor Search Engine
        </title>
        <style type="text/css" media=screen>
             #wrapper {margin: 30px auto;}
             #wrapper h1{color: #397D02; font-size: 10px;}
        </style>
    </head>
    <body>
        <div id="wrapper">
            <h1>Torgle</h1>
            <form action="/torgle/search/" method="get">
                <input type="text" size=35 name="query" />
                <input type="submit" value="Go" /><p />IN DEVELOPMENT. DOES NOT WORK.
            </form>
        </div>
    </body>
</html>
